{
    "project": "project-name",
    "environment": "prod",
    "as_region": "ap-southeast-1",
    "eu_region": "eu-central-1",
    "main_domain": "example.com",
    "domain": "aws-prod.example.com"
}